.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

@media only screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

  }
}